testItem.txt
coverage
.nyc_output
node_modules
/test/
.git.bfg-report/
*.sqlConfig.json
passwords.txt
/image2.png
.terraform.*
/packages/*/report/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.log